/*头部*/
header{
	width: 1100px;
	height: 112px;
	margin: 0 auto;
	position: relative;
}

/*头部logo*/
.header-logo a{
	width: 181px;
	height: 54px;
	margin:auto 0;
	position: absolute;
	top: 0;bottom: 0;
	overflow: auto;
	background-image: url(../image/header-logo.png);
}

/*导航*/
nav{
	height: 100%;
}

nav ul{
	float: right;
}

nav li{
	display: inline-block;
	margin-left: 48px;
}

nav li a{
	text-decoration: none;
	line-height: 56px;
	font-family: "Times New Roman";
	font-size: 14px;
	letter-spacing: 1px;
	color: #3b3b3b;
}

nav li a:hover{
	text-decoration: underline;
}

/*尾部*/
footer{
	height: 317px;
	background-color: #3b3b3b;
}

.footer-content{
	width: 1100px;
	margin: 0 auto;
}

.info{
	width: 230px;
	float: left;
	margin-top: 85px;
	margin-right: 60px;
	line-height: 30px;
	letter-spacing: 1px;
	font-size: 16px;
	font-family:"Times New Roman";
	color: #ebebeb;
}

.info-pixel{
	margin-right: 0px;
}

.info a{
	display: inline-block;
	margin-right: 70px;
	text-decoration: none;
	color: #ebebeb;
	font-weight: bold;
}

.info-pixel a{
	display: inline-block;
	margin-right: 0;
}

.info a:hover{
	text-decoration: underline;
	color: #5e5e5e;
}

/*尾部logo*/
.footer-logo{
	width: 182px;
	height: 55px;
	margin-top: 4px;
	margin-bottom: -8px;
	background-image: url(../image/footer-logo.png);
}