body,
div,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Verdana, Tahoma, "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #3a3a3a;
  cursor: default;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
div.container {
  padding: 20px;
}
div.wrap {
  position: fixed;
  top: 20px;
  z-index: 99;
  width: 97%;
  height: 80px;
  background-color: #FECA30;
}
header.nav-down .wrap {
  top: -80px;
}
header.nav-up .wrap {
  top: 0;
}
h1 {
  float: left;
  margin-top: 25px;
  margin-left: 3.66032211rem;
}
h1 a {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #3a3a3a;
}
div.wrapper {
  float: right;
  margin-top: 23px;
  margin-right: 4.39238653rem;
}
div.wrapper a {
  display: inline-block;
  margin-left: 1.83016105rem;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3a3a3a;
}
div.wrapper a:hover {
  border-bottom: 1px solid #313131;
  padding-bottom: 6px;
}
section.intro {
  padding: 137px 0 100px 100px;
  background-color: #FECA30;
}
section.intro img {
  width: 19.03367496rem;
  border: 10px solid #F5F2EB;
  border-radius: 50px;
}
section.intro div {
  display: inline-block;
  margin-left: 60px;
  width: 19.76573939rem;
  vertical-align: top;
}
section.intro p {
  margin-top: 80px;
  margin-bottom: 120px;
  width: 9ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: .05em solid transparent;
  animation: typing 2s steps(9), caret 1s steps(1) infinite;
  font-size: 2.92825769rem;
  color: #fff;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: #fff;
  }
}
section.intro a {
  display: inline-block;
  margin-left: 150px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 0.73206442rem;
  text-align: center;
}
section.intro a:hover {
  color: #FECA30;
  background-color: #fff;
}
section.about {
  position: relative;
  padding: 50px 3.66032211rem 70px;
}
section.about h2 {
  font-size: 50px;
}
section.about p {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 17px;
  color: #838383;
}
section.about h3 {
  font-size: 20px;
  line-height: 3;
  color: #676767;
}
section.about ul {
  margin-left: 40px;
}
section.about li {
  display: inline-block;
  margin-left: 20px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #cfcfcf;
}
section.about .color1 li {
  -webkit-transition: color 500ms ease-in;
  -moz-transition: color 500ms ease-in;
  -o-transition: color 500ms ease-in;
  transition: color 500ms ease-in;
}
section.about .color2 li {
  -webkit-transition: color 500ms 700ms ease-in;
  -moz-transition: color 500ms 700ms ease-in;
  -o-transition: color 500ms 700ms ease-in;
  transition: color 500ms 700ms ease-in;
}
section.about .color3 li {
  -webkit-transition: color 500ms 1400ms ease-in;
  -moz-transition: color 500ms 1400ms ease-in;
  -o-transition: color 500ms 1400ms ease-in;
  transition: color 500ms 1400ms ease-in;
}
section.about .color11 li {
  color: #FF9800;
}
section.about .color22 li {
  color: #03A9F4;
}
section.about .color33 li {
  color: #F44336;
}
section.about a {
  display: block;
  position: absolute;
  top: 300px;
  left: 500px;
  margin-left: 500px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #666;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #838383;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
section.projects {
  padding: 50px 2.92825769rem 50px;
  background: #fd5f54;
}
section.projects h2 {
  font-size: 50px;
  color: #fff;
}
section.projects .demo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 25.62225476rem;
}
section.projects ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 700%;
  -webkit-transition: left 800ms ease;
  -moz-transition: left 800ms ease;
  -o-transition: left 800ms ease;
  transition: left 800ms ease;
}
section.projects ul::after {
  content: "";
  display: block;
  clear: both;
}
section.projects li {
  float: left;
  width: 14.2857%;
  text-align: center;
}
section.projects .img1 {
  margin-top: -4.75841874rem;
  margin-bottom: -4.75841874rem;
  width: 90%;
}
section.projects .img2 {
  margin-top: -2.92825769rem;
  margin-bottom: -1.83016105rem;
  width: 55%;
}
section.projects .img3 {
  margin-top: 0.36603221rem;
  margin-bottom: 0rem;
  width: 30%;
}
section.projects .img4 {
  margin-top: -4.75841874rem;
  margin-bottom: -4.75841874rem;
  width: 90%;
}
section.projects .img5 {
  margin-top: -1.09809663rem;
  margin-bottom: -1.46412884rem;
  width: 65%;
}
section.projects .img6 {
  margin-top: -1.46412884rem;
  margin-bottom: -2.19619327rem;
  width: 35%;
}
section.projects .img7 {
  margin-top: 2.56222548rem;
  margin-bottom: 1.83016105rem;
  width: 36%;
}
section.projects p {
  margin-top: -30px;
  font-size: 30px;
  color: #fff;
}
section.projects a {
  display: inline-block;
  margin-top: 20px;
  width: 14%;
  padding: 15px 25px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
}
section.projects a:hover {
  color: #fd5f54;
  background-color: #fff;
}
section.projects span.pre {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-top: 7.32064422rem;
  font-size: 2.92825769rem;
  color: #FEAEA9;
  display: none;
}
section.projects span.pre:hover {
  color: #fff;
}
section.projects span.next {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  margin-top: 7.32064422rem;
  margin-left: 38.79941435rem;
  font-size: 2.92825769rem;
  color: #FEAEA9;
}
section.projects span.next:hover {
  color: #fff;
}
section.projects .dot {
  margin-top: 21.96193265rem;
  text-align: center;
}
section.projects .dot span {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C23B3B;
}
section.projects .dot span:hover {
  background-color: #fff;
}
section.projects .dot .active {
  box-shadow: 0 0 0 2px #ff857d;
  background-color: #fff;
}
section.say {
  padding: 50px 3.66032211rem 70px;
  background: #494949;
}
section.say::after {
  content: "";
  display: block;
  clear: both;
}
section.say div {
  float: left;
}
section.say h2 {
  font-size: 50px;
  color: #fff;
}
section.say p {
  margin-top: 20px;
  font-size: 18px;
  color: #84755F;
}
section.say .email {
  float: right;
  margin-top: 25px;
}
section.say .email a {
  padding-bottom: 8px;
  font-size: 20px;
  border-bottom: 1px solid #717070;
}
section.say .email a:hover {
  border-bottom: 1px solid #fff;
}
@media (min-width: 767px) and (max-width: 990px) {
  div.container {
    padding: 0;
  }
  div.wrap {
    position: static;
    width: 100%;
  }
  div.wrap nav {
    margin-top: 30px;
  }
  section.intro {
    padding-left: 40px;
  }
  section.intro p {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  section.intro a {
    margin-left: 60px;
  }
  section.about a {
    top: 280px;
    left: 100px;
  }
  section.projects .demo {
    height: 29.28257687rem;
  }
  section.projects .img1 {
    margin-top: -4.75841874rem;
    margin-bottom: -4.75841874rem;
    width: 90%;
  }
  section.projects .img2 {
    margin-top: -2.92825769rem;
    margin-bottom: -0.36603221rem;
    width: 55%;
  }
  section.projects .img3 {
    margin-top: 1.46412884rem;
    margin-bottom: 0rem;
    width: 30%;
  }
  section.projects .img4 {
    margin-top: -4.75841874rem;
    margin-bottom: -4.75841874rem;
    width: 90%;
  }
  section.projects .img5 {
    margin-top: -1.09809663rem;
    margin-bottom: -0.73206442rem;
    width: 65%;
  }
  section.projects .img6 {
    margin-top: -1.46412884rem;
    margin-bottom: -1.46412884rem;
    width: 35%;
  }
  section.projects .img7 {
    margin-top: 2.56222548rem;
    margin-bottom: 3.2942899rem;
    width: 36%;
  }
  section.projects .dot {
    margin-top: 26.72035139rem;
  }
}
@media (min-width: 321px) and (max-width: 766px) {
  div.container {
    padding: 0;
  }
  header {
    border-bottom: 1px solid #fff;
  }
  div.wrap {
    position: static;
    width: 100%;
  }
  div.wrapper {
    margin-top: 14px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    background-color: #3A3A3A;
  }
  div.wrapper::before {
    content: "≡";
    padding-left: 12px;
    font-size: 30px;
    line-height: 46px;
    color: #FECA30;
  }
  div.wrapper nav {
    display: none;
    position: relative;
    margin-top: 4px;
    margin-left: -90px;
    width: 140px;
    height: 117px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  div.wrapper a {
    display: block;
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
  }
  section.intro {
    padding-top: 50px;
    padding-left: 50px;
  }
  section.intro img {
    width: 80%;
  }
  section.intro p {
    margin: 20px 0 0 20px;
  }
  section.intro a {
    display: none;
  }
  section.about h2 {
    text-align: center;
  }
  section.about li {
    display: block;
    margin-bottom: 10px;
  }
  section.about a {
    top: 600px;
    left: -250px;
  }
  section.projects {
    padding: 50px 0 50px;
    text-align: center;
  }
  section.projects .demo {
    height: 54.90483163rem;
  }
  section.projects ul {
    -webkit-transition: left 400ms ease;
    -moz-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
  }
  section.projects .img1 {
    margin-top: -7.32064422rem;
    margin-bottom: -6.5885798rem;
    margin-left: -66px;
    width: 135%;
  }
  section.projects .img2 {
    margin-top: -2.92825769rem;
    margin-bottom: 0.73206442rem;
    width: 77%;
  }
  section.projects .img3 {
    margin-top: 2.56222548rem;
    margin-bottom: 1.09809663rem;
    width: 45%;
  }
  section.projects .img4 {
    margin-top: -7.32064422rem;
    margin-bottom: -6.5885798rem;
    margin-left: -66px;
    width: 135%;
  }
  section.projects .img5 {
    margin-top: -0.73206442rem;
    margin-bottom: 0.73206442rem;
    width: 94%;
  }
  section.projects .img6 {
    margin-top: 0rem;
    margin-bottom: -1.83016105rem;
    width: 50%;
  }
  section.projects .img7 {
    margin-top: 2.56222548rem;
    margin-bottom: 6.22254758rem;
    width: 57%;
  }
  section.projects a {
    width: 26%;
  }
  section.projects .dot {
    margin-top: 49.41434846rem;
  }
  section.projects .turn {
    display: none;
  }
  section.say {
    text-align: center;
  }
  section.say div,
  section.say .email {
    float: none;
  }
}
@media (max-width: 320px) {
  div.container {
    padding: 0;
  }
  header {
    border-bottom: 1px solid #fff;
  }
  div.wrap {
    position: static;
    width: 100%;
  }
  div.wrapper {
    margin-top: 14px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    background-color: #3A3A3A;
  }
  div.wrapper::before {
    content: "≡";
    padding-left: 12px;
    font-size: 30px;
    line-height: 46px;
    color: #FECA30;
  }
  div.wrapper nav {
    display: none;
    position: relative;
    margin-top: 4px;
    margin-left: -90px;
    width: 140px;
    height: 117px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  div.wrapper a {
    display: block;
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    color: #fff;
  }
  section.intro {
    padding-top: 40px;
    padding-left: 40px;
  }
  section.intro img {
    width: 80%;
  }
  section.intro p {
    margin-top: 20px;
    margin-bottom: 0;
  }
  section.intro a {
    display: none;
  }
  section.about h2 {
    text-align: center;
  }
  section.about li {
    display: block;
    margin-bottom: 10px;
  }
  section.about a {
    top: 620px;
    left: -285px;
  }
  section.projects {
    padding: 50px 0 50px;
    text-align: center;
  }
  section.projects .demo {
    height: 380px;
  }
  section.projects ul {
    -webkit-transition: left 400ms ease;
    -moz-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
  }
  section.projects .img1 {
    margin-top: -6.5885798rem;
    margin-bottom: -5.49048316rem;
    margin-left: -53px;
    width: 135%;
  }
  section.projects .img2 {
    margin-top: -1.09809663rem;
    margin-bottom: 0.73206442rem;
    width: 77%;
  }
  section.projects .img3 {
    margin-top: 2.92825769rem;
    margin-bottom: 2.19619327rem;
    width: 45%;
  }
  section.projects .img4 {
    margin-top: -6.5885798rem;
    margin-bottom: -5.49048316rem;
    margin-left: -53px;
    width: 135%;
  }
  section.projects .img5 {
    margin-top: -0.36603221rem;
    margin-bottom: 1.46412884rem;
    width: 94%;
  }
  section.projects .img6 {
    margin-top: 0.36603221rem;
    margin-bottom: -0.36603221rem;
    width: 50%;
  }
  section.projects .img7 {
    margin-top: 2.56222548rem;
    margin-bottom: 7.68667643rem;
    width: 60%;
  }
  section.projects a {
    width: 29%;
  }
  section.projects .dot {
    margin-top: 340px;
  }
  section.projects .turn {
    display: none;
  }
  section.say {
    text-align: center;
  }
  section.say div,
  section.say .email {
    float: none;
  }
}
